@import "../../../styles/Responsive.scss";

.companies {
  padding-bottom: 2rem;
  background: #fff;

  .scroller {
    width: 85vw;

    overflow: hidden;
    margin: 0 auto;

    .inner {
      display: flex;
      align-items: center;
      gap: 4rem;
      justify-content: space-between;
      animation: scroll 20s linear infinite;
      width: calc(90px * 8);
      perspective: 100%;

      &:hover{
        animation-play-state: paused;
      }

      img {
        object-fit: contain;
        opacity: 0.4;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transform: scale(1.15);
        }
      }
    }
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-154px * 8));
  }
}
