@import "../../../styles/Responsive.scss";

.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;

  img {
    object-fit: contain;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
