@import "../../styles/Responsive.scss";

.container {
  box-shadow:  0 5px 5px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 45px;
  border-radius: 62% 38% 46% 54%/60% 63% 37% 40%;
  background: blue;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  right: 2rem;
  bottom: 15rem;
  animation: bounce 1.5s 1.5s ease-in-out infinite;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;

  @include Tablet{
    right: 1rem;
  }
  
  @include Mobile{
    right: .7rem;
    width: 40px;
    height: 35px;
}

img{

    @include Mobile{
        width: 10px;
        height: 10px;
    }

}

  &.show {
    visibility: visible;
    opacity: 1;
    bottom: 3rem;
  }

}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}
