@import "../../styles/Responsive.scss";

.hero {
  padding: 3rem 6%;
  padding-top: 13%;
  min-height: 100vh;

  p {
    color: #777777;
    z-index: 10;
  }

  .container {
    position: relative;
    padding-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bgImage1{
      position: absolute;
      left: 24rem;
      top: 1.2rem;
      right: 0;
      bottom: 0;
      height: 100vh;
      background: url("../../../public/d1.webp") no-repeat;
      background-size: 65px;
      transition: .3s;

    }

    .bgImage2{
      position: absolute;
      left: 24rem;
      top: 29rem;
      right: 0;
      bottom: 0;
      height: 100vh;
      background:  url("../../../public/d2.webp") no-repeat ;
      background-size: 45px;
      transition: .3s;

    }

    .bgImage3{
      position: absolute;
      left: 65.5rem;
      top: 1.2rem;
      right: 0;
      bottom: 0;
      height: 100vh;
      background: url("../../../public/d4.png")  no-repeat;
      background-size: 150px;
      transition: .3s;

    }

    .left {
      width: 50%;
      z-index: 2;

      .text {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        color: blue;
        letter-spacing: 3px;
        margin-bottom: 1.5rem;
      }

      .title {
        font-size: 3.4rem;
        margin-bottom: 2rem;
      }

      .desc {
        line-height: 25px;
        margin-bottom: 2rem;
      }

      .interact {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;

        .icon {
          margin-left: 0.7rem;
        }

        .playVideo {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

      .digSupport {
        display: flex;
        align-items: center;

        .imgContainer {
          width: 32%;
          img {
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #fff;

            &.img2 {
              margin-left: -0.6rem;
            }

            &.img3 {
              margin-left: -0.6rem;
            }
          }
        }

        .support {
          width: 200px;

          .sText {
            line-height: 25px;

            a {
              color: blue;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .imgWrap {
        position: relative;
        overflow: hidden;

        &.high {
          transform: translateY(-40px);
        }

        &.low {
          transform: translateY(25px);
        }

        .cut {
          width: 120px;
          height: 50px;
          background: #fafafa;
          position: absolute;
          transform: rotate(-35deg);
          left: -2rem;
          top: -0.8rem;
        }

        img {
          object-fit: cover;
        }
      }
    }
  }
}
