@import "../../../../../styles/Responsive.scss";

.container {
  padding: 6rem 5%;
  background: #fff;

  @include Mobile {
    padding: 2rem;
  }

  .title {
    width: 100%;
    text-align: center;

    .tHeading {
      font-size: 2.5rem;
      width: 700px;
      margin-inline: auto;
      line-height: 50px;

      @include Mobile {
        font-size: 24px;
        width: 100%;
        line-height: 30px;
      }
    }
  }

  .impressions {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include Mobile {
      flex-wrap: wrap;
    }

    .item {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        border-right: 1px solid #ccc;

        @include Mobile {
            border-right: none
          }
      }

      h2 {
        font-size: 30px;

        @include Tablet {
            font-size: 24px;
          }
      }

      p {
        @include Tablet {
          font-size: 10px;
        }
      }
    }
  }
}
