@import "../../../styles/Responsive.scss";
.popup {
  position: absolute;
  top: 3.5rem;
  left: -7.6rem;
  width: 150px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: .3s;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;


  &.show{
    top: 1.5rem;
    opacity: 1;
    visibility: visible;
  }

  .link {
    padding: 12px;
    transition: .3s;

    &:hover{
        background: blue;
        color: #fff;
    }
  }

  hr{
    opacity: .6;
  }
}
