@import '../../styles/Responsive.scss';

.container{
    width: 50px;
    height: 45px;
    border-radius: 62% 38% 46% 54%/60% 63% 37% 40%;
    background: blue;
    display: grid;
    place-content: center;
    cursor: pointer;
    display: none;


    @include Tablet{
        display: grid;
    }

    @include Mobile{
        width: 40px;
        height: 35px;
    }

    img{

        @include Mobile{
            width: 18px;
            height: 18px;
        }

    }

    
}