@import "../../styles/Responsive.scss";

.cTools {
  padding: 7rem 6%;

  .title {
    width: 100%;
    text-align: center;

    .xlText {
      margin-bottom: 2rem;
      width: 600px;
      margin-inline: auto;
    }

    .titleText {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      color: blue;
      letter-spacing: 3px;
      margin-bottom: 1.5rem;
    }
  }
}
