@import "../../styles/Responsive.scss";

.cTools {
  padding: 7rem 6%;

  @include Mobile {
    padding: 3rem 2rem;
  }

  .title {
    width: 100%;
    text-align: center;

    .xlText {
      margin-bottom: 2rem;
      width: 600px;
      margin-inline: auto;

      @include Mobile {
        width: 100%;
        font-size: 20px;
      }
    }

    .titleText {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      color: blue;
      letter-spacing: 3px;
      margin-bottom: 1.5rem;

      @include Mobile {
        font-size: 14px;
      }
    }
  }
}
