@import "../../../../../styles/Responsive.scss";

.loginForm {
  @include Mobile {
    padding-inline: 2rem;
  }
  .heading {
    color: #333;
    width: 100%;

    .title {
      text-align: center;
      font-size: 12px;
      font-weight: 500;

      @include Tablet {
        font-size: 10px;
      }
    }

    .text {
      text-align: center;
      width: 400px;
      margin-inline: auto;
      margin-top: 1rem;

      @include Mobile {
        font-size: 14px;
        width: 100%;
      }
    }
  }

  .form {
    margin-top: 2rem;
    margin-inline: auto;

    .inputBox {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      @include Mobile {
        font-size: 13px;
      }

      .wraps {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          font-size: 13px;
          color: blue;
          font-weight: 500;
        }
      }

      label {
        margin-bottom: 0.5rem;
        font-size: 14px;
        font-weight: 500;

        @include Mobile {
          font-size: 13px;
        }
      }

      input {
        width: 100%;
        height: 45px;
        background: #f0f0f0;
        padding-left: 1rem;
        font-size: 0.9rem;
        border-radius: 5px;
      }
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 2rem;

      label {
        cursor: pointer;
        font-size: 12px;

        @include Mobile {
          font-size: 11px;
        }
      }

      input {
        cursor: pointer;
        height: 16px;
        width: 16px;

        @include Mobile {
          height: 14px;
          width: 14px;
        }
      }
    }

    .btnWraps {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      button {
        height: 45px;
        border-radius: 5px;
        font-size: 15px;
        color: #fff;
        transition: 0.3s;

        @include Mobile {
          font-size: 13px;
        }

        &:hover {
          opacity: 0.7;
        }
      }

      .mBtn {
        width: 100%;
        background: blue;
      }

      .oBtn {
        background: #000;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: center;
        }
      }
    }
  }
}
