@import '../../styles/Responsive.scss';

.navbar{
    padding: 0rem 3%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;
    
    @include Tablet{
        padding: 0rem 2%;
    }

    .right{
        display: flex;
        align-items: center;
        gap: 3rem;
        
        @include Tablet{
            gap: 1rem;
        }
    }

    .showcta{
        display: none;

        @include Tablet{
            display: unset;
        }
    }
}