@import "../../styles/Responsive.scss";

.container {
  padding: 5rem 6%;

  @include Mobile {
    padding: 3rem 2rem;
  }

  .title {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;

    @include Tablet {
      margin-bottom: 3rem;
    }

    .xlText {
      width: 600px;
      margin-inline: auto;
      margin-bottom: 2rem;

      @include Mobile {
        width: 100%;
        font-size: 24px;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-bottom: 4rem;

    @include Tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include Mobile {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      width: 400px;
      height: 430px;
      position: relative;
      background: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      padding-bottom: 1rem;
      transition: 0.3s;

      @include Tablet {
        width: 100%;
      }

      &:hover {
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);

        img {
          transform: scale(1.05);
        }

        .blogTitle {
          color: blue;
        }

        .type {
          opacity: 1;
        }
      }

      p {
        color: #555;
        font-size: 14px;
      }

      img {
        object-fit: cover;
        transition: 1s;
      }

      .content {
        padding: 1rem;

        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;

          .col {
            display: flex;
            align-items: center;
            gap: 0.2rem;
          }
        }

        .blogTitle {
          font-size: 22px;
          transition: 0.5s;

          @include Mobile {
            font-size: 18px;
          }
        }
      }

      .type {
        background: blue;
        color: #fff;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 14px;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        opacity: 0;
        transition: 0.5s;
      }
    }
  }
}
