@import '../../../../../styles/Responsive.scss';

.container{
    background: #fafafa;
    margin: 6rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left{
        width: 100%;
        padding-left: 5rem;
    }
    
    .right{
         h1{
            font-size: 2.3rem;
            margin-bottom: 1rem;
         }

         p{
            font-size: 15px;
            margin-bottom: 1.5rem;
        }
        
        h2{
            font-size: 19px;
            margin-bottom: 1.5rem;
         }

         .appWraps{
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            }
         }
    }
}