@import '../../../styles/Responsive.scss';
.navlinks{
    display: flex;
    align-items: center;
    gap: 1.8rem;

    li{

        &.showcta{
            position: relative;
            margin-left: 2rem;
        }

        .link{
            transition: .3s;
            font-size: 14px;

            &:hover{
                color: blue;
            }

            &.active{
                position: relative;
                color: blue;
                transition: .3s;

            }
        }

        button{
            .icon{
                font-size: 12px;
                margin-left: .5rem;
            }
        }
    }
} 